<p>user-status-management works!</p>



  <input [(ngModel)]="editText" *ngIf="editmode" type="text">

{{editmode}}

  <button *ngIf="!editmode" (click)="edit()">edit</button>
  <button *ngIf="editmode" (click)="save()">save</button>
  <button *ngIf="editmode" (click)="cancel()">cancel</button>


<nz-collapse nzAccordion>
<nz-descriptions nzTitle="User Info" *ngFor="let user_info of user_status_info_list">
  <nz-descriptions-item nzTitle="Name(Legal Name)">{{user_info.name}}</nz-descriptions-item>

  <nz-descriptions-item nzTitle="Work Authorization">
    {{user_info.work_authorization}}
    <nz-collapse-panel>
      Name:  {{user_info.name}}<br>
      Work Authorization:  {{user_info.work_authorization}}<br>
      Start Date:  {{user_info.startDate}}<br>
      End Date:  {{user_info.endDate}}

    </nz-collapse-panel>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Expiration Date">{{user_info.endDate}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Day Left">{{user_info.expiration}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Action Required">
    {{user_info.action}}
    <nz-collapse-panel [nzHeader]="documents_show" (click)="documents_received(user_info.id)">
      Documents Received
      <tr *ngFor="let file of files">
        <!--    [class.selected]="file === selectedFile">-->
<!--        <th>{{file.id}}</th>-->
        <td>{{file.path}}</td>
        <td>{{file.title}}</td>
      </tr>
      <div [ngSwitch]="opt_step">
        <form>
          <div *ngSwitchCase="0">
            Currently No file uploaded
          </div>
          <div *ngSwitchCase="1">
            Waiting for OPT EAD
          </div>
          <div *ngSwitchCase="2">
            Waiting for submit on I-983
            <button (click)="submit($event)">Submit Form</button>
          </div>
          <div *ngSwitchCase="3">
            Waiting for hr signed on I-983
            <button (click)="submit($event)">Approve I-983</button>
          </div>
          <div *ngSwitchCase="4">
            <h1>{{opt_step}}</h1>
          </div>
        </form>
      </div>
    </nz-collapse-panel>
  </nz-descriptions-item>


<!--</nz-descriptions>-->
<!--&lt;!&ndash;<nz-collapse>&ndash;&gt;-->
<!--&lt;!&ndash;  <nz-collapse-panel&ndash;&gt;-->
<!--&lt;!&ndash;    *ngFor="let panel of user_status_info_list"&ndash;&gt;-->
<!--&lt;!&ndash;  [nzHeader]=panel.id >&ndash;&gt;-->
<!--&lt;!&ndash;    <p style="margin:0;">&ndash;&gt;-->
<!--&lt;!&ndash;      A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome&ndash;&gt;-->
<!--&lt;!&ndash;      guest in many households across the world.&ndash;&gt;-->
<!--&lt;!&ndash;    </p>&ndash;&gt;-->
<!--&lt;!&ndash;  </nz-collapse-panel>&ndash;&gt;-->
<!--</nz-collapse>-->
