<form nz-form [formGroup]="applicationForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>First Name</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="firstNameErrorTpl">
            <input nz-input formControlName="firstName"  />
            <ng-template #firstNameErrorTpl let-control>
                <ng-container *ngIf="control.hasError('maxlength')">The max length of input is 20!</ng-container>
                <ng-container *ngIf="control.hasError('required')">Please input your First Name!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Last Name</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="lastNameErrorTpl">
            <input nz-input formControlName="lastName"  />
            <ng-template #lastNameErrorTpl let-control>
                <ng-container *ngIf="control.hasError('maxlength')">The max length of input is 20!</ng-container>
                <ng-container *ngIf="control.hasError('required')">Please input your Last Name!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Middle Name</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="middleNameerrorTpl">
            <input nz-input formControlName="middleName"  />
            <ng-template #middleNameerrorTpl let-control>
                <ng-container *ngIf="control.hasError('maxlength')">The max length of input is 20!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Preferred Name</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="preferredNameerrorTpl">
            <input nz-input formControlName="preferredName" />
            <ng-template #preferredNameerrorTpl let-control>
                <ng-container *ngIf="control.hasError('maxlength')">The max length of input is 20!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Avatar</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
            <input nz-input formControlName="avatar" type="file" accept="image/gif,image/jpg,image/png" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Current Address</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="currentAddresserrorTpl">
            <input nz-input formControlName="cellPhone" />
            <ng-template #currentAddresserrorTpl let-control>
                <ng-container *ngIf="control.hasError('maxlength')">The max length of input is 40!</ng-container>
                <ng-container *ngIf="control.hasError('required')">Please input your Cell Phone!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Cell Phone</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="cellPhoneerrorTpl">
            <input nz-input formControlName="cellPhone" />
            <ng-template #cellPhoneerrorTpl let-control>
                <ng-container *ngIf="control.hasError('pattern')">Please input a valid phone number(10 digits)
                </ng-container>
                <ng-container *ngIf="control.hasError('required')">Please input your Cell Phone!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Alternate Phone</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="alternatePhoneerrorTpl">
            <input nz-input formControlName="alternatePhone" />
            <ng-template #alternatePhoneerrorTpl let-control>
                <ng-container *ngIf="control.hasError('pattern')">Please input a valid phone number(10 digits)
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Alternate Phone</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="alternatePhoneerrorTpl">
            <input nz-input formControlName="alternatePhone" />
            <ng-template #alternatePhoneerrorTpl let-control>
                <ng-container *ngIf="control.hasError('pattern')">Please input a valid phone number(10 digits)
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Car Info</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="carInfoerrorTpl">
            <input nz-input formControlName="carInfo" />
            <div>
                <label>Car Info(Optional: Maker_Model_Color)</label>
            </div>
            <ng-template #carInfoerrorTpl let-control>
                <ng-container *ngIf="control.hasError('maxlength')">The max length of input is 30!
                </ng-container>
                <ng-container *ngIf="control.hasError('pattern')">Please input a valid Car Info(e.g. Audi_Q7_Black)
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
            <input nz-input formControlName="email" placeholder="email" type="email" />
            <ng-template #emailErrorTpl let-control>
                <ng-container *ngIf="control.hasError('email')">The input is not valid E-mail!</ng-container>
                <ng-container *ngIf="control.hasError('required')">Please input your E-mail!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>SSN</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="ssnerrorTpl">
            <input nz-input formControlName="ssn" />
            <ng-template #ssnerrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please input SSN!</ng-container>
                <ng-container *ngIf="control.hasError('pattern')">Please input a valid SSN number
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Date Of Birth</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzHasFeedback [nzErrorTip]="dateOfBirtherrorTpl">
            <nz-date-picker formControlName="dateOfBirth"></nz-date-picker>
            <ng-template #dateOfBirtherrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please choose your date!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Gender</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzHasFeedback [nzErrorTip]="gendererrorTpl">
            <nz-radio-group formControlName="gender">
                <label nz-radio nzValue="male">Male</label>
                <label nz-radio nzValue="female">Female</label>
            </nz-radio-group>
            <ng-template #gendererrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please choose your gender!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>


    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Are you a citizen or permanent resident?</nz-form-label>
    <label nz-checkbox [(ngModel)]="isCitizenOrPermanent" [ngModelOptions]="{standalone: true}"></label>

    <nz-form-item *ngIf="isCitizenOrPermanent">
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Are you a "Green Card" or "Citizen"?</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzHasFeedback [nzErrorTip]="visaTyperrorTpl">
            <nz-radio-group formControlName="visaType">
                <label nz-radio nzValue="greenCard">Green Card</label>
                <label nz-radio nzValue="citizen">Citizen</label>
            </nz-radio-group>
            <ng-template #visaTyperrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please choose!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="!isCitizenOrPermanent">
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>What is your work authorization?</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzHasFeedback [nzErrorTip]="visaTyperrorTpl">

            <nz-select formControlName="visaType">
                <p *ngFor="let visaType of visaTypes">
                    <nz-option nzLabel={{visaType}} nzValue={{visaType}}></nz-option>
                </p>

            </nz-select>
            <p >
                If other, please specifying the work authorization
                <input [(ngModel)]="otherVisaType" [ngModelOptions]="{standalone: true}" (ngModelChange)="otherVisaTypeFn($event)"  />
            </p>

            <ng-template #visaTyperrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please choose!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <button nz-button nzType="primary" [disabled]="!applicationForm.valid">Submit</button>
            <button nz-button (click)="resetForm($event)">Reset</button>
        </nz-form-control>
    </nz-form-item>


</form>
<div>
    <button (click)='tewst()'>fff</button>
</div>