<p>housing works!</p>

<div>
  <button (click)="showHouseDetail()">Housing Detail Page</button>
  <button (click)="showFacilityReport()">Facility Report Page</button>
</div>

<div *ngIf="isHouse">
  <h2>Address:</h2>
  <p>{{ address }}</p>
  <hr />

  <h2>Your roommates:</h2>
  <div *ngFor="let employee of employees; let i = index">
    <p>Roommate {{ i + 1 }}:</p>
    <p>Name: {{ employee.firstName }}</p>
    <p>Phone: {{ employee.ceilPhone }}</p>
    <br />
  </div>
</div>

<div *ngIf="isReport">
  <!-- Report sumbit -->
  <h2>Submit a Report</h2>
  <form [formGroup]="houseReportForm">
    <input type="text" placeholder="Title" formControlName="title" />
    <input
      type="text"
      placeholder="What's wrong?"
      formControlName="description"
    />
    <button (click)="submitReport()">Submit</button>
  </form>
  <hr />

  <!--  See all reports  -->
  <h2>All Reports</h2>
  <button (click)="showAllReport()">Show</button>
  <div *ngFor="let report of reports; let i = index" class="report-body">
    <h4>Report #{{ i + 1 }}</h4>
    <p>Title: {{ report.title }}</p>
    <p>Description: {{ report.description }}</p>
    <p>createdBy: {{ report.createdBy }}</p>
    <p>reportDate: {{ report.reportDate }}</p>
    <p>status: {{ report.status }}</p>
    <div *ngFor="let comment of report.comments; let j = index" class="comment">
      <h4>Comment #{{ j + 1 }}</h4>
      <p>Description: {{ comment.description }}</p>
      <p>createdBy: {{ comment.createdBy }}</p>
      <p>commentDate: {{ comment.commentDate }}</p>
    </div>
  </div>
</div>
